<% this.title = (question && question.title ? question.title : '习题') + ' - 习题'; %>
<% include header %>
<% include question_utility %>

<style>
  /* Scope: tighten segment horizontally for this page */
  #question_content .ui.segment.with-lines { padding-left: 0 !important; padding-right: 0 !important; }
  /* When a UI segment directly contains an option code block grid, make its border transparent and remove vertical padding */
  .ui.segment:has(.option-content .codebox-grid) {
    border-color: transparent !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .font-content pre { margin: 0 0 1em 0; }
  /* Widen container only when description+items two-column grid is present */
  @media (min-width: 1200px) {
    .ui.container:has(#question_content .desc-items-grid) { max-width: 1600px !important; width: 1600px !important; }
  }
</style>

<span id="question_content">
<div class="ui center aligned grid">
  <div class="row">
    <h1 class="ui header">
      <%= question.title || ('#' + question.id) %>
    </h1>
  </div>
  <% if (question.source) { %>
  <div class="row" style="margin-top: -15px">
    <div class="ui label">来源<div class="detail"><%= question.source %></div></div>
  </div>
  <% } %>
  <% if (question.tags && question.tags.length) { %>
  <div class="row" style="margin-top: -15px">
    <% for (let tag of question.tags) { %>
      <a href="<%= syzoj.utils.makeUrl(['questions', 'tag', tag.id]) %>" class="ui <%= tag.color %> label"><%= tag.name %></a>
    <% } %>
  </div>
  <% } %>
</div>

<div class="ui grid">
  <% if (allowedEdit) { %>
  <div class="row">
    <div class="column">
      <div class="ui tiny buttons right floated">
        <a class="ui button" href="<%= syzoj.utils.makeUrl(['question', question.id, 'edit']) %>">编辑</a>
      </div>
    </div>
  </div>
  <% } %>
  <div class="row">
    <div class="column">
      <h2 class="ui header"><%= (question && question.type) ? question.type : '题目' %></h2>
      <% if (description && items && items.length) { %>
      <div class="ui stackable grid desc-items-grid">
        <div class="eight wide column">
          <div class="font-content"><%- description %></div>
        </div>
        <div class="eight wide column">
          <div class="ui form">
            <div class="field">
              <% include question_items %>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
        <% if (description) { %>
        <div class="font-content"><%- description %></div>
        <% } %>
        <% if (items && items.length) { %>
          <div class="ui form" style="margin-top: 1rem;">
            <div class="field">
              <% include question_items %>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>

  <% if (canViewSolutions && answerHtml) { %>
  <div class="row">
    <div class="column">
      <h2 class="ui header">标准答案</h2>
      <div class="font-content"><%- answerHtml %></div>
    </div>
  </div>
  <% } %>
  <% if (canViewSolutions && tutorialHtml) { %>
  <div class="row">
    <div class="column">
      <h2 class="ui header">题解</h2>
      <div class="font-content"><%- tutorialHtml %></div>
    </div>
  </div>
  <% } %>
</div>

<div class="ui center aligned grid" style="margin-top: 20px;">
  <div class="row">
    <div class="ui pagination menu">
    <% if (randomUrl) { %>
        <a class="icon item" href="<%= randomUrl %>" title="随机下一题" aria-label="随机下一题"><i class="random icon"></i></a>
    <% } else { %>
        <% if (prevUrl) { %>
        <a class="icon item" href="<%= prevUrl %>" title="上一题" aria-label="上一题"><i class="arrow left icon"></i></a>
        <% } %>
        <% if (nextUrl) { %>
        <a class="icon item" href="<%= nextUrl %>" title="下一题" aria-label="下一题"><i class="arrow right icon"></i></a>
        <% } %>
    <% } %>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.ui.radio.checkbox').checkbox();
  $('.ui.checkbox').checkbox();
  QuestionCodeLines.init($('.font-content'));
});
</script>

</span>
<% include footer %>
