<% this.title = (quiz && quiz.title ? quiz.title : ('小测 #' + quiz.id)) + ' - 小测'; %>
<% include header %>

<style>
  .code-with-gutter { position: relative; }
  .code-with-gutter .code-gutter {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5em;
    color: rgba(0, 0, 0, .4);
    text-align: right;
    padding-right: .5em;
    user-select: none;
  }
  .code-with-gutter pre { padding-left: 3em; margin: 0; }
  .code-gutter .code-ln { display: block; }
  .font-content pre { margin: 0 0 1em 0; }
  </style>

<div class="ui center aligned grid">
  <div class="row">
    <div class="ui secondary pointing menu centered">
      <% dir.forEach(function(d){ %>
        <a class="item <%= d.idx === qid ? 'active' : '' %>" href="<%= d.url %>">#<%= d.idx %>（<%= d.points %>分）</a>
      <% }) %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h2 class="ui header">
        第 <%= qid %> 题
      </h2>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="row" style="padding-bottom: 0; ">
    <div class="column">
      <h2 class="ui header">题目</h2>
      <% if (descriptionHtml) { %>
      <div class="font-content"><%- descriptionHtml %></div>
      <% } %>
    </div>
  </div>
  <% if (items && items.length) { %>
  <div class="row">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <% include question_items %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<div class="ui center aligned grid" style="margin-top: 20px;">
  <div class="row">
    <div class="ui pagination menu">
      <% if (prevUrl) { %>
      <a class="icon item" href="<%= prevUrl %>" title="上一题" aria-label="上一题"><i class="arrow left icon"></i></a>
      <% } else { %>
      <a class="icon item" href="<%= syzoj.utils.makeUrl(['quiz', quiz.id]) %>" title="返回" aria-label="返回"><i class="close icon"></i></a>
      <% } %>
      <% if (nextUrl) { %>
      <a class="icon item" href="<%= nextUrl %>" title="下一题" aria-label="下一题"><i class="arrow right icon"></i></a>
      <% } else { %>
      <a class="icon item" href="<%= syzoj.utils.makeUrl(['quiz', quiz.id]) %>" title="提交" aria-label="提交"><i class="check icon"></i></a>
      <% } %>
    </div>
  </div>
</div>


<script>
$(function(){
  $('.ui.radio.checkbox').checkbox();
  $('.ui.checkbox').checkbox();
  function addLineNumbers($root){
    $root.find('pre > code').each(function(){
      var code = this;
      if (code.getAttribute('data-ln-processed') === '1') return;
      var pre = code.parentNode;
      var $pre = $(pre);
      var $wrapper = $('<div class="code-with-gutter"></div>');
      $pre.before($wrapper);
      $wrapper.append('<div class="code-gutter"></div>');
      $wrapper.append($pre);
      var linesCount = (code.textContent || '').replace(/\n$/, '').split('\n').length;
      var $gutter = $wrapper.find('.code-gutter');
      var lnHtml = '';
      for (var i = 1; i <= linesCount; i++) { lnHtml += '<span class="code-ln">'+ i +'</span>\n'; }
      $gutter.html(lnHtml);
      code.setAttribute('data-ln-processed', '1');
    });
  }
  // Apply to entire page to cover code blocks inside question items and options
  addLineNumbers($(document.body));
});
</script>

<% include footer %>