<% this.title = (quiz && quiz.title ? quiz.title : ('小测 #' + quiz.id)) + ' - 小测'; %>
<% include header %>
<div class="padding">
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <h1><%= quiz.title || ('小测 #' + quiz.id) %></h1>
      </div>
    </div>
    <% if (quiz.description) { %>
    <div class="row">
      <div class="column">
        <div class="font-content" style="margin-bottom: 20px; "><%- quiz.description %></div>
      </div>
    </div>
    <% } %>
    <div class="row">
      <div class="column">
        <div class="ui buttons" style="margin-bottom: 15px; ">
            <a class="ui small button" href="<%= syzoj.utils.makeUrl(['quizzes']) %>">返回列表</a>
            <% if (user && user.is_admin) { %>
            <a class="ui small primary button" href="<%= syzoj.utils.makeUrl(['quiz', quiz.id, 'edit']) %>">编辑小测</a>
            <% } %>
            <% if (questions && questions.length) { %>
              <% if (latestAttempt) { %>
                <a class="ui small positive button" href="<%= syzoj.utils.makeUrl(['quiz', quiz.id, 'question', 1], { aid: latestAttempt.id }) %>">继续作答</a>
                <button class="ui small orange button" type="submit" form="quiz-restart-form">重新作答</button>
              <% } else { %>
                <button class="ui small positive button" type="submit" form="quiz-start-form">开始作答</button>
              <% } %>
            <% } %>
        </div>
        <% if (questions && questions.length) { %>
          <% if (latestAttempt) { %>
          <form id="quiz-restart-form" action="<%= syzoj.utils.makeUrl(['quiz', quiz.id, 'attempt', 'restart']) %>" method="post"></form>
          <% } else { %>
          <form id="quiz-start-form" action="<%= syzoj.utils.makeUrl(['quiz', quiz.id, 'attempt', 'start']) %>" method="post"></form>
          <% } %>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <table class="ui very basic celled table">
          <thead>
            <tr>
              <th class="two wide left aligned">序号</th>
              <th class="four wide left aligned">题目类型</th>
              <th class="six wide left aligned">知识点</th>
              <th class="two wide right aligned">分值（总分 <%= totalPoints %>）</th>
              <th class="two wide right aligned">得分<% if (typeof earnedTotal === 'number') { %>（已得 <%= earnedTotal %> 分）<% } %></th>
            </tr>
          </thead>
          <tbody>
            <% if (questions && questions.length) { %>
              <% questions.forEach(function(q){ %>
              <tr>
                <td class="left aligned"><a href="<%= syzoj.utils.makeUrl(['quiz', quiz.id, 'question', q.idx]) %>">#<%= q.idx %></a></td>
                <td class="left aligned"><%= q.type || '' %></td>
                <td class="left aligned">
                  <% if (q.examTags && q.examTags.length) { %>
                    <% q.examTags.forEach(function(tag, i){ %>
                      <a href="<%= syzoj.utils.makeUrl(['questions', 'tag', tag.id]) %>" class="ui tiny <%= tag.color %> label" style="margin-left: 4px; "><%= tag.name %></a>
                    <% }) %>
                  <% } %>
                </td>
                <td class="right aligned"><%= q.points %></td>
                <td class="right aligned">
                  <% if (typeof q.earned === 'number') { %>
                    <% var _earned = Number(q.earned) || 0; var _points = Number(q.points) || 0; var _color = (_earned >= _points) ? '#21ba45' : (_earned > 0 ? '#fbbd08' : '#db2828'); %>
                    <span style="color: <%= _color %>;"><%= _earned %></span>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="3" class="center aligned">该小测尚未添加题目。</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% include footer %>
